server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://${MYSQLHOST:localhost}:${MYSQLPORT:3306}/${MYSQLDATABASE:gizmo_deck}
    username: ${MYSQLUSER:root}
    password: ${MYSQLPASSWORD:}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: armaanali.dev@gmail.com
    password: grua slqy snnl cjvl
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

stripe:
  secretKey: ${STRIPE_KEY}
